@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Gilgan', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00c39c;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 8%;
    background: rgba(0, 0, 0, 0.512);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: transparent;
}

.logo {
    position: relative;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 150;
    max-height: 60px; /* Atur tinggi maksimum gambar */
    width: auto; /* Menjaga aspek rasio gambar */
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    padding: 6rem;
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}

.slide img {
    width: auto; /* Lebar gambar mengisi seluruh lebar parent (slider) */
    height: auto; /* Tinggi gambar menyesuaikan proporsional sesuai lebar */
    object-fit: cover; /* Memastikan gambar terisi penuh tanpa merubah aspek rasio */
    object-position: center;
    max-width: 125%; /* Mencegah gambar melebihi lebar parent jika lebih besar */
    max-height: 125%; /* Mencegah gambar melebihi tinggi parent jika lebih besar */
}

.navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.navigation .prev, .navigation .next {
    background-color: transparent;
    border: 2rem;
    color: white;
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation .prev:hover, .navigation .next:hover {
    background-color: var(--second-bg-color);
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.content h1 {
    font-size: 10rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}
.content h2 {
    font-size: 1.8rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.content h3 {
    
    font-family: 'Montserrat',sans-serif;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Spacing between buttons */
    margin-top: 2rem; /* Space between the heading and the buttons */
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn:hover {
    color: var(--main-color);
}

.btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    width: 100%;
}


.aboutwe{
    position: relative;
    background: url(gambar/tentangkami.png) no-repeat;
    background-size: cover;
    padding: 6rem;
    overflow-x: hidden;
  

}

.title h1{
    position: relative;
    text-align: center;
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;


}

.content-about h2 {
  position: relative;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  color: var(--text-color);
  padding: 20rem;
  font-size: 2.3rem;
  
}
.visimisi {
    position: relative;
    background: url(gambar/visismisi.png) no-repeat;
    background-size: cover;
    padding: 5rem;
    overflow-x: hidden;
}

.content-visimisi{
    position: relative;
    padding: 8rem;
}
.content-visimisi h1 {
    position: relative;
    font-size: 3rem;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 1.5rem;

}
.content-visimisi h2 {
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 1rem;

}
.misi li{
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 0.5rem;
}

.Kegiatan {
    position: relative;
    min-height: 100vh;
    padding: 3.5rem 8% 5rem;

}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: auto;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 2rem; /* Jarak antar item */
    
}

.carousel-item {
    min-width: 400px;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    overflow: hidden;
        
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-item h4 {
    margin: 1rem 0;
    padding-top: 1rem;
    font-size: 1rem;
}
.carousel-item p {
    margin: 0.6rem 0;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.carousel-btn.prev {
    left: 0;
}

.carousel-btn.next {
    right: 0;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 8%;
    background: var(--second-bg-color);

}
.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .3s;    
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i{
    color: var(--main-color);
}